
  .nav__menuBar{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
    padding: 24px 16px;
  }
  .nav__menuBar div{
    width: 40px;
    height: 4px;
    
    background-color: #09A79D;
    border-radius: 2px;
  }
  .nav__menuList{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    width: 288px;
    row-gap: 24px;
    right: -288px;
    padding: 24px 16px;
    transition: all 0.2s;
    min-height: calc(100vh - 60px);
    color: #09A79D;
  background-color: white;
  }
  
  .active{
    right: 0 !important;
  }
  .nav__link{
    font-size: 18px; 
    position: relative;
    transition: all 0.2s;

   
  }
  
  .nav__item{
    color: #09A79D;
    font-weight: bold;
    
      display: inline-block;
      vertical-align: top;
      padding-bottom: 5px;
  
  }
  .nav__item:hover{
    color: #09A79D;

  }
  .nav__item::before{
    color: #09A79D;
    content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 2px;
     background-color: #faae12; border-radius: 40px;
     scale: 0 1;
     transform-origin: right;
     transition: scale 0.7s;
  }
  .nav__item:hover::before{
    scale: 1;
    transform-origin: left;     
  }
  
  
  .center{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .nav__menuBar{
      display: none;

    }
    .nav__menuList{
      position: unset;
      flex-direction: row;
      min-height: fit-content;
        width: 80%;   
       column-gap: 50px;

    }
   
    .nav__item{
      color: #09A79D;
      font-weight: bold;


    }
    .nav__item:hover{
      color: #09A79D;

    }
    .nav__item{
      display: inline-block;
      vertical-align: top;
      padding-bottom: 5px;
    }
    .nav__item::before{
      color: #09A79D;
      content: '';
       position: absolute;
       left: 0;
       bottom: 0;
       width: 100%;
       height: 2px;
       background-color: #faae12; border-radius: 40px;
       scale: 0 1;
       transform-origin: right;
       transition: scale 0.7s;
    }
    .nav__item:hover::before{
      scale: 1;
      transform-origin: left;     
    }
    .logo{
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;

  
    }
   
    }
  